doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    title="Voting App"

    if assets && assets.styles
      each asset in assets.styles
        link(rel="stylesheet" href=asset)

  body
    #app!= app

    if preloadedState
      script.
        window.__PRELOADED_STATE__ = !{JSON.stringify(preloadedState)}

    if assets && assets.scripts
      each asset in assets.scripts
        script(type="text/javascript" src=asset)
